// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #29ABE2;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #59E02A;
$gray: #0E0000;
$light-gray: #F4F4F4;
// App colors and styles
$mainColor: #1c3358;
$mainColorLight: #4878c5;
$secondaryColor: #9a8b3f;
$boxShadow: 0px 0px 7px rgba(0, 0, 0, 0.3);