<h3><%=  @greeting%></h3>
<p>Vous avez reçu des nouvelles offres sur votre enchère BidnBill</p>
<p>Rendez vous sur le site www.bidnbill.com pour voir vos offres et réduire votre facture tout de suite</p>
<p>A bientôt</p>
