<h3><%=  @greeting%></h3>

<p>Vous avez reçu des nouvelles offres sur votre abonnement BillSelector</p>
<p>Rendez vous sur le site www.billselector.com pour voir vos offres et réduire votre facture tout de suite</p>

<p>A bientôt</p>
