<h3><%=  @greeting%></h3>
<p>Une ou plusieurs de vos offres sur BidnBill ont été séléctionner par votre nouveau client</p>
<p>Rendez vous sur le site www.bidnbill.com, sur l'onglet 'Nos Clients' pour voir vos nouveaux clients</p>
<p>A bientôt</p>
