<h3><%=  @greeting%></h3>
<p>Merci d’avoir choisi Bidnbill..</p>
<p>Vous faites partie des premiers Bidnbillers</p>
<p> Nous vous préviendrons dès qu’un ou plusieurs fournisseurs enchériront à la baisse sur votre contrat « électricité ou gaz » </p>
<p>En attendant, nous vous rappelons nos principes de fonctionnement : enchères inversées / appel d’offre privé / Permet identifier un meilleur tarif / Pas de contact des fournisseurs sans consentement / Aucun contrat n’est signé
</p>
