// Specific CSS for your home-page
#home-wrapper {
    #home-top {
        background: $gradientColor;
        min-height: 40vh;
        clip-path: ellipse(100% 100% at 50% 0%);
        .text-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: bold;
            position: relative;
            padding: 5rem 0;
            h1 {
                font-weight: bold;
                font-size: 50px;
                color: $secondaryColor;
            }
            h4 {
                color: white;
                padding: 20px 0px;
                font-size: 25px;
                font-style: italic;
            }
            .home-btn {
                border-radius: 15px 2px 15px 2px;
                background: white;
                color: $mainColor;
                padding: 15px 30px;
                box-shadow: $boxShadow;
                transition: 0.3s all;
                &:hover {
                    transform: scale(1.1);
                    text-decoration: none;
                }
            }
        }
    }
    section {
        margin: 2rem 0 5rem 0;
        text-align: center;
        .title {
            color: $secondaryColor;
            font-weight: bold;
            padding: 30px 0;
            font-size: 35px;
            position: relative;
            margin-bottom: 10px;
            &:after {
                content: " ";
                width: 100px;
                height: 10px;
                background: $secondaryColor;
                position: absolute;
                bottom: 0px;
                left: 50%;
                margin-left: -50px;
            }
        }
        .home-card {
            margin: 2rem;
            min-height: 300px;
            border-radius: 30px 4px 30px 4px;
            border: 4px solid $mainColor;
            background: white;
            padding: 20px;
            color: rgba(0, 0, 0, 0.8);
            text-align: center;
            box-shadow: $boxShadow;
            h4 {
                font-weight: bold;
                font-size: 22px;
                color: $gray;
            }
            i {
                font-size: 70px;
                padding-bottom: 40px;
                color: $secondaryColor;
            }
            pre {
                font-family: $body-font;
                padding-top: 40px;
                white-space: pre-line;
            }
        }
    }
    p {
        margin-bottom: 30px;
    }
    .carousel-inner img {
        height: 150px;
        width: auto;
    }
}

#last-section {
    margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    #home-wrapper {
        #home-top {
            .text-container {
                transform: scale(0.8);
            }
        }
        section .title {
            font-size: 25px;
        }
        section .home-card {
            margin: 1rem;
            h4 {
                font-size: 18px;
            }
            i {
                font-size: 40px;
            }
            pre {
                padding-top: 20px;
                text-align: justify;
            }
        }
    }
}

// Caroussel
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* MD */

@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* LG */

@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.carousel-icon {
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
}