<div id='footer'>
  <p>
    <span>© Bill Selector 2019</span>
    <span><%=link_to 'Données personnels', donnes_personnels_path%></span>
    <span><%=link_to 'Mentions Légals', mentions_legals_path%></span>
  </p>
</div>
