<%= render 'shared/navbar' %>
<h3 class="dashboard__title">BIDNBILL, une autre manière de contracter !</h3>
<div class="container">
  <div class="info-pages">
    <pre>
    Bidnbill est parti d’un constat simple : tout consommateur, particulier ou professionnel, doit avoir accès en un minimum de temps à l’offre de marché qui correspond le mieux à ses besoins.

    Dans un contexte d’ouverture des marchés à la concurrence, le secteur de l’énergie (gaz/électricité) a vu naître de nombreuses offres plus ou moins avantageuses.

    Véritable alternative aux comparateurs, Bidnbill vous propose de faire jouer la concurrence en étant placé au centre du jeu, en fonction de vos seules caractéristiques de consommation.

    De manière inédite et gratuite, Bidnbill vous permet de recourir à la pratique dite de « courtage aux enchères ».

    Le mécanisme du courtage aux enchères, autrement appelé « enchères pour voir », vous permet de mettre aux enchères vos principales données de consommation, de manière totalement anonyme, afin d’identifier une offre de marché plus avantageuse.

    Le fonctionnement de Bidnbill est simple :
    </pre>
    <h5>Étape 1</h5>
    <pre>
    Créez votre compte gratuitement.
    </pre>
    <h5>Étape 2</h5>
    <pre>
    Remplissez le formulaire en indiquant vos principales données de consommation, le prix que vous payez actuellement et le type d’offre que vous recherchez.
    </pre>
    <h5>Étape 3</h5>
    <pre>
    Initiez une enchère contenant vos principales données de consommation. Vos données sont anonymisées avant que les fournisseurs partenaires de Bidnbill puissent les consulter.
    </pre>
    <h5>Étape 4</h5>
    <pre>
    Les fournisseurs partenaires de Bidnbill répondent à votre enchère en formulant une offre plus avantageuse (à ce stade, les fournisseurs partenaires de Bidnbill peuvent seulement répondre mais ne peuvent en aucun cas vous contacter directement).
    </pre>
    <h5>Étape 5</h5>
    <pre>
    Les propositions formulées par les fournisseurs sont classées par ordre décroissant en fonction de l’économie que vous pourriez réaliser.
    </pre>
    <h5>Étape 6</h5>
    <pre>
    Consultez les résultats et sélectionnez l’offre de votre choix en autorisant le fournisseur à vous contacter directement (par email, téléphone ou via le chat dédié à cet effet).
    </pre>
    <br>
    <hr><br>
    <pre>
    N’oubliez pas : vous n’êtes jamais engagé avec l’un quelconque de nos partenaires par le simple fait de créer une enchère inversée sur Bidnbill.com.

    En quelques clics, vous êtes mis en relation avec le fournisseur de votre choix, il ne vous reste plus qu’à changer de contrat !
    </pre>
  </div>
</div>
