<%= render 'shared/navbar' %>
<h3 class="dashboard__title">A propos de l’utilisation des Cookies</h3>
<div class="container">
  <div class="info-pages">
    <pre>Les cookies sont des fichiers textes déposés sur votre appareil (ordinateur, mobile, tablette) lors de la consultation d’un site internet. Ils enregistrent des informations relatives à votre navigation sur ce site. Les cookies ne peuvent être consultés ou modifiés que par leur émetteur.</pre>
    <h4>UTILISATION DES COOKIES</h3>
    <pre>
      En ayant recours à des cookies et autres technologies similaires telles que les balises pixels et les scripts, un site peut recueillir des informations à propos des visites et des visiteurs.

      Nous plaçons certains cookies nous-mêmes sur les sites internet, d'autres sont placés par des parties tierces. Les cookies des parties tierces sont aussi susceptibles de recueillir des données en dehors de nos sites internet.

      Les cookies peuvent être utilisés pour personnaliser la visite d'un site internet, entres autres dans les cas suivants :
    </pre>
    <ul>
      <li>afficher des paramètres de navigation pertinents</li>
      <li>rappeler les préférences des visiteurs</li>
      <li>améliorer l'expérience globale</li>
      <li>limiter la quantité de publicités affichées.</li>
    </ul>
    <h4>
      TYPES DE COOKIES UTILISÉS SUR NOTRE SITE
    </h4>
    <pre>Le site de Bidnbill utilise 2 types de cookies.
    </pre>
    <h5>A. COOKIES DE FONCTIONNEMENT
    </h5>
    <pre>Ils vous permettent d'utiliser les principales fonctionnalités du site de Bidnbill. Les informations recueillies par l'intermédiaire de ces cookies ne sont pas utilisées à des fins commerciales.

      En désactivant l'utilisation de ces cookies, vous ne pourrez plus bénéficier de ces fonctionnalités :</pre>
    <ul>
      <li>il ne sera plus possible de naviguer sur certaines parties du site Bidnbill</li>
      <li>Bidnbill apportera une assistance plus restreinte aux utilisateurs </li>
      <li> Bidnbill ne sera pas en mesure de retenir vos préférences quant à l'utilisation ou l'affichage de certaines fonctionnalités.</li>
    </ul>
    <h5>B. COOKIES DE PERFORMANCE DU SITE
    </h5>
    <pre>
      Les cookies de performance nous permettent d'optimiser notre site internet et de détecter les éventuels problèmes techniques que vous pourriez rencontrer.

      Ils nous permettent de recueillir des informations sur la façon dont vous utilisez le site bidnbill.com, notamment le nombre de visites par page, le nombre de messages d'erreur affichés, le temps passé sur une page, ou encore le nombre de clics sur une zone du site.

      Les informations conservées ne peuvent être utilisées à des fins commerciales.

      Les cookies que nous utilisons sont listés ci-dessous.

      Cookie – Google Analytics

      Les cookies utilisés pour Google Analytics sont décrits ci-dessous :
    </pre>
    <ul>
      <li>__utma
      </li>
      <li>__utmb
      </li>
      <li>__utmc
      </li>
      <li>__utmv
      </li>
      <li>__utmz
      </li>
    </ul>
    <pre>Ces cookies sont utilisés pour stocker des informations telle que la durée de votre visite, de quelle source venez-vous (referrer).

      Google stocke les informations collectées par ces cookies sur des serveurs aux États-Unis. Google peut transmettre ces informations à des tiers lorsque la loi l’exige ou lorsque ces tiers traitent ces informations pour le compte de Google.

      Google Analytics – Opt-out

      Afin d’offrir aux visiteurs du site Web un plus grand choix sur la façon dont les données sont collectées par Google Analytics, Google a développé le module complémentaire Google Analytics Opt-out Browser. L’add-on communique avec le JavaScript de Google Analytics (ga.js) pour empêcher l’envoi de données à Google Analytics. Le module complémentaire Google Analytics Opt-out Browser n’affecte pas l’utilisation du site Web d’une autre manière. Un lien vers d’autres informations sur le module complémentaire Google Analytics Opt-out Browser est fourni ci-dessous pour votre commodité.
      <a href="http://tools.google.com/dlpage/gaoptout?hl=None" target='_blank'>http://tools.google.com/dlpage/gaoptout?hl=None
      </a>
      Pour plus d’informations sur l’utilisation des cookies par Google Analytics, veuillez consulter le site Web de Google. Un lien vers les conseils sur la protection de la vie privée pour ce produit est fourni ci-dessous pour votre commodité.
      <a href="http://www.google.com/analytics/learn/privacy.html" target='_blank'>http://www.google.com/analytics/learn/privacy.html</a>
    </pre>
    <h4>RESPECT DE VOTRE VIE PRIVÉE
    </h4>
    <pre>Nous nous engageons en faveur de la protection de votre privée et respectons les 2 principes suivants.
    </pre>
    <ul>
      <li> Nous n'associons à vos cookies aucune information permettant de vous identifier personnellement. Les cookies ne permettent en aucun cas de connaître votre adresse, votre date de naissance, votre numéro de téléphone ou toute autre information permettant de vous identifier.</li>
      <li>Nous ne fournissons aucune information personnelle aux annonceurs ni aux sites tiers qui affichent nos annonces basées sur vos centres d'intérêt.</li>
    </ul>
    <pre>Si votre ordinateur ou votre mobile est utilisé par plusieurs personnes, ou s'il dispose de plusieurs logiciels de navigation, il est possible que les contenus affichés aux autres utilisateurs correspondent à vos préférences. Si vous le souhaitez, vous pouvez modifier les paramètres de votre navigateur en consultant la section Gestion des cookies et paramètres du navigateur ci-dessous.</pre>
    <h4>COMBIEN DE TEMPS SONT CONSERVES LES COOKIES ?</h4>
    <pre>Les cookies ont une durée de vie limitée à 13 mois après leur 1er dépôt sur votre navigateur.</pre>
    <h4>GESTION DES COOKIES ET PARAMÈTRES DU NAVIGATEUR</h4>
    <pre>La rubrique Aide des navigateurs internet vous indique comment refuser les nouveaux cookies, obtenir un message de notification vous signalant leur réception ou les désactiver.</pre>
    <h4>DESACTIVER LES COOKIES</h4>
    <pre>Si vous souhaitez limiter l’utilisation des cookies, vous pouvez le contrôler dans votre navigateur Internet. Des liens vers des conseils sur la façon de le faire pour les navigateurs Internet les plus populaires sont fournis ci-dessous par commodité et seront disponibles pour le navigateur Internet de votre choix, soit en ligne ou via l’aide du logiciel (normalement disponible via la touche F1).</pre>
    <ul>
      <li>
        <a href="http://windows.microsoft.com/en-GB/windows7/Block-enable-or-allow-cookies" target='_blank'>Internet Explorer</a>
      </li>
      <li>
        <a href="https://support.google.com/chrome/bin/answer.py?hl=en-GB&answer=95647&p=cpn_cookies" target='_blank'>Google Chrome</a>
      </li>
      <li>
        <a href="http://support.mozilla.org/en-US/kb/Blocking%20cookies" target='_blank'>Mozilla Firefox</a>
      </li>
      <li>
        <a href="http://docs.info.apple.com/article.html?artnum=32467" target='_blank'>Apple Safari</a>
      </li>
    </ul>
    <pre>Pour plus d’information sur les cookies
      Si vous souhaitez obtenir plus d’information sur les cookies et la façon de les contrôler, vous pouvez consulter le site de la CNIL qui met à votre disposition un guide complet <a href=" https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target='_blank'> https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a> ou le site suivant : <a href="http://www.youronlinechoices.com/fr/" target='_blank'>http://www.youronlinechoices.com/fr/</a>  où vous trouverez des instructions simples sur la façon dont vous pouvez gérer les cookies selon le navigateur que vous utilisez.
    </pre>
  </div>
</div>
