<%= render 'shared/navbar' %>
<h3 class="dashboard__title">Politique de Confidentialité</h3>
<div class="container">
  <div class="info-pages">
    <h4>Traitement et utilisation des données personnelles</h4>
    <pre>
    Nous utilisons les données personnelles fournies par nos utilisateurs uniquement pour administrer et utiliser nos technologies et services, pour répondre aux demandes de nos utilisateurs. Nous stockons les données personnelles et tout autre type de données dans le strict respect de la législation applicable en matière de protection des données et de la vie privée et de nos obligations contractuelles, et nous empêcherons l’accès non autorisé aux données de la façon la plus sécurisée possible.

    Nous pouvons utiliser vos données personnelles à des fins publicitaires et d’études de marché, à condition que vous ayez donné votre accord ou que vous ne vous y opposiez pas – lorsque les dispositions légales le permettent.

    Les données sont stockées au sein de l’Union européenne et de l’Espace économique européen.

    Nous ne transmettons pas les données à d’autres tiers, sauf si vous y avez consenti ou si la transmission est faite à des institutions publiques sur la base d’une législation nationale obligatoire.

    Nous pouvons collecter et utiliser des informations personnelles (dont nom, prénom et e-mail) afin de vous fournir plus efficacement les services ou les informations requis(es).

    Selon les cas, nous pourrions par conséquent utiliser vos informations personnelles pour :
    </pre>
    <ul>
      <li>Répondre aux questions ou demandes de renseignements que vous soumettez</li>
      <li>Traiter des formulaires de création d’enchère(s)</li>
      <li>Vous envoyer par mail des informations que vous avez sollicité tels que les codes promotionnels ou une newsletter</li>
      <li>Etablir des statistiques de trafic. </li>
    </ul>
    <h4>Sécurité des données</h4>
    <pre>
    Bidnbill prend toutes les mesures de sécurité techniques et organisationnelles nécessaires pour protéger vos données personnelles contre la perte, la divulgation non autorisée ou d’autres formes d’abus. Les données sont stockées dans un environnement sûr qui n’est pas accessible au public. Dans certains cas, vos données personnelles peuvent être cryptées avant la transmission (par exemple, lors du traitement de vos données de connexion). Cela signifie que – avec l’aide de votre navigateur – la communication entre votre appareil et nos serveurs comprendra des mesures de cryptage reconnues.

    Notre personnel a reçu une formation en matière de protection de la vie privée et de traitement des données et de l’information, auxquelles il a accès de manière responsable.

    Veuillez noter que si vous communiquez avec nous par courriel, la confidentialité de l’information qui s’y trouve peut ne pas être assurée. Des tiers peuvent avoir accès au contenu des courriels.

    Vous êtes informés que vos données pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou judiciaire compétente ou encore, si cela s'avère nécessaire, aux fins, pour Bidnbill, de préserver ses droits et intérêts.
    </pre>
    <h4>Autorités de contrôle compétentes</h4>
    <pre>
    L’autorité de contrôle compétente est la Commission nationale de l’informatique et des libertés (CNIL) ; 3 place de Fontenoy 75007 PARIS, tél : +33153732222
    La société Bidnbill, en sa qualité de responsable du traitement, attache la plus grande importance au respect et à la protection de vos données personnelles.
    Bidnbill s'engage à respecter les principes du règlement n°2016/679, dit règlement général pour la protection des données (RGPD).
    La présente politique de confidentialité vise à vous informer sur les finalités et les modalités des traitements des données que vous êtes amené(e) à nous fournir par le biais de notre site internet <a href="https://www.bidnbill.com">https://www.bidnbill.com</a>  (ci-après "le Site").
    </pre>
    <h4>Responsable du traitement</h4>
    <pre>
    Le Responsable du traitement des données personnelles collectées via le site est la société Bidnbill, société par actions simplifiée (SAS), au capital de 500 euros, dont le siège social est situé au 139 rue Legendre à Paris, RCS (PARIS 844 295 931), représentée par M. Alexandre CANONICA, Président.

    Nous contacter :

    Pour toute information relative à vos données personnelles, vous pouvez contacter le Responsable de traitement à l’adresse suivante :

    contact@bidnbill.com
    </pre>
    <h4>Données collectées</h4>
    <pre>
    Nous sommes amenés à collecter vos données personnelles lorsque :
    </pre>
    <ul>
      <li>vous remplissez un formulaire afin de créer une enchère sur le site</li>
      <li>vous naviguez sur notre site et utilisez nos services</li>
      <li>vous nous contactez directement, par email notamment</li>
    </ul>
    <pre>
    Nous pouvons également recevoir des informations de la part de tiers, en l'occurrence nos partenaires lorsque vous souscrivez un contrat chez l’un d’eux par notre intermédiaire (pour nous confirmer par exemple la prise en compte et validation de votre contrat).

    La collecte de vos données par nos services conditionne la conclusion de contrats auprès de nos partenaires. Vous avez le droit de refuser de renseigner les informations qui vous sont demandées.

    Lorsque certaines informations sont obligatoires pour accéder aux fonctionnalités spécifiques, du Site ou de l’App, le formulaire indique le caractère obligatoire au moment de la saisie des données.

    Les données personnelles que nous recueillons sont essentiellement les informations que vous nous fournissez directement lorsque vous créez une enchère. Ces données incluent :
    </pre>
    <ul>
      <li>
        Les données d’identification nécessaires à la création d’un compte utilisateur en ligne : nom, prénom, nouvelle adresse postale, adresse email, numéro de téléphone ;
      </li>
      <li>
        Les données nécessaires à la qualification de votre besoin (type d’énergie dont vous avez besoin, le type de logement etc.) ;
      </li>
    </ul>
    <h4>Finalité du traitement de vos données</h4>
    <pre>
        Les données personnelles sont recueillies :
    </pre>
    <ul>
      <li>soit automatiquement lors d'une visite sur notre site à des fins statistiques, publicitaires ou de personnalisation de votre expérience ;</li>
      <li>soit lorsque vous les renseignez dans un formulaire ;</li>
      <li>soit pour permettre l'abonnement à notre newsletter ;</li>
      <li>soit pour analyser vos factures et vous proposer un autre tarif.</li>
    </ul>
    <pre>
        Nous ne collectons pas vos données personnelles sans avoir recueilli votre accord. Nous ne traitons vos données personnelles que lorsque nous avons une base légale pertinente pour cela. Les traitements que nous réalisons ont pour seule fonction :
    </pre>
    <ul>
      <li>De répondre à une nécessité précontractuelle</li>
      <li>aux fins des intérêts légitimes poursuivis par Bidnbill, à savoir :
        <li>notre intérêt légitime économique et commercial</li>
        <li>l’amélioration de notre offre.</li>
      </li>
    </ul>
    <pre>
    Les données que nous collectons et traitons sont strictement nécessaires aux finalités précisées ci-dessous :
    </pre>
    <ul>
      <li>Vous permettre d’accéder aux offres formulées par nos partenaires, personnalisées selon vos besoins et votre profil ;</li>
      <li>Vous fournir l’accès aux différentes fonctionnalités du site.</li>
    </ul>
    <h4>Données d’identification</h4>
    <pre>
    Ces données nous permettent de vous contacter, lorsque cela est nécessaire à propos de nos services, pour récupérer des informations nécessaires à la conclusion / validation du contrat auquel vous avez souscrit (votre Point de Livraison par ex pour la souscription d’un contrat énergie).

    Ces données sont conservées 3 ans à compter de votre dernière activité (souscription, appel entrant, clic dans un email) ou de la fermeture de votre compte utilisateur (+5 ans en base d’archivage).
    </pre>
    <h4>Données permettant la création d’une ou plusieurs enchères</h4>
    <pre>Concernant la création d’une ou plusieurs enchère(s) dans le secteur de l’énergie, nous pouvons collecter :</pre>
    <ul>
      <li>Votre Nom, prénom</li>
      <li>Votre code postal, adresse</li>
      <li>Le type d’énergie souhaitée pour la souscription (gaz naturel, électricité, les deux)</li>
      <li>Le type d’énergie de chauffage (Electricité, gaz naturel, chauffage collectif, gaz en citerne, autre) </li>
      <li>La surface du logement</li>
      <li>Le nombre de personnes habitant le logement</li>
      <li>S’il s’agit d’un emménagement ou changement de fournisseur</li>
      <li>S’il s’agit d’une maison individuelle ou d’un appartement</li>
      <li>Votre numéro de point de livraison</li>
    </ul>
    <pre>    Ces données sont conservées 3 ans après la date de dernière activité sur le Site.</pre>
    <h4>Données de connexion et de navigation sur le Site</h4>
    <pre> Ces données nous permettent de :</pre>
    <ul>
      <li>Mesurer l’audience de fréquentation de notre Site</li>
      <li>Mesurer l’intérêt et améliorer l’efficacité et la qualité des services que nous vous proposons</li>
      <li>Personnaliser l’expérience utilisateur</li>
      <li>Permettre à notre Service client de vous aider le plus efficacement possible si vous avez des questions ou réclamations</li>
      <li>Réaliser des statistiques d’analyse, de sélection et de segmentation des utilisateurs pour améliorer nos services et servir notre stratégie marketing.</li>
    </ul>
    <pre>Durée de conservation : 13 mois à compter du dépôt des cookies.</pre>
    <h4>    Données de contact (adresse email, téléphone)</h4>
    <pre> Pour :</pre>
    <ul>
      <li>    Vous tenir informé de l’évolution de vos contrats (en vous adressant par exemple une confirmation par email de la validation d’un contrat auquel vous avez souscrit en ligne ou par téléphone) </li>
      <li>    Recueillir votre avis / votre satisfaction sur nos services et/ou les contrats souscrits</li>
      <li>    Vous informer en cas d’évolution de notre politique de confidentialité </li>
      <li>    Répondre à vos questions.</li>
    </ul>
    <pre>    Vous pouvez vous désabonner de nos emails à tout moment en cliquant sur le lien de désinscription figurant en bas de chaque email.</pre>
    <h4>Liens tiers externes</h4>
    <pre>
     Bien que ce site Web ne vise qu’à inclure des liens externes de qualité, sûrs et pertinents, il est conseillé aux utilisateurs d’adopter une politique de prudence avant de cliquer sur tout lien externe mentionné sur ce site Web.

     Les propriétaires de ce site Web ne peuvent pas garantir ou vérifier le contenu d’un site Web lié de l’extérieur malgré leurs meilleurs efforts. Les utilisateurs sont donc priés de noter qu’ils cliquent sur les liens externes à leurs propres risques et que ce site Web et ses propriétaires ne peuvent être tenus responsables des dommages ou implications causés par la visite des liens externes mentionnés.
    </pre>
    <h4>Réseaux Sociaux</h4>
    <pre>
    La communication, l’engagement et les mesures prises par l’intermédiaire des plateformes de réseaux sociaux externes auxquelles ce site Web et ses propriétaires participent sont conformes aux modalités et conditions ainsi qu’aux politiques de confidentialité de chaque plateforme de réseaux sociaux.

    Il est conseillé aux utilisateurs d’utiliser judicieusement les plateformes de réseaux sociaux et de communiquer avec soin et prudence en ce qui concerne leur propre vie privée et leurs données personnelles. Ce site Web ni ses propriétaires ne demanderont jamais d’informations personnelles ou sensibles par le biais de plateformes de réseaux sociaux et encouragent les utilisateurs souhaitant discuter de détails sensibles à les contacter par le biais de canaux de communication primaires tels que le téléphone ou le courrier électronique.

    Ce site Web peut utiliser des boutons de partage social qui aident à partager le contenu Web directement des pages Web vers la plate-forme de médias sociaux en question. Les utilisateurs sont avisés avant d’utiliser de tels boutons de partage social qu’ils le font à leur propre discrétion et notent que la plate-forme de médias sociaux peut suivre et enregistrer votre demande de partage d’une page Web par l’intermédiaire de votre compte de la plate-forme de médias sociaux.
    </pre>
    <h4>Destinataires des données</h4>
    <pre>
    Nous nous efforçons de traiter vos données personnelles de manière privée et confidentielles. Les données recueillies ou traitées à l’occasion de l’utilisation de nos services sont destinées aux entités de Bidnbill, plus précisément aux personnes habilitées et autorisées en interne ayant par leurs fonctions besoin d’en avoir connaissances pour les finalités des traitements susmentionnés.

    Ces données peuvent également être destinées à nos partenaires (fournisseurs d’énergie) pour valider et activer les contrats que vous pourriez souscrire auprès d’eux par notre intermédiaire.

    Hors des cas précédemment énumérés, les données personnelles vous concernant ne pourront être divulguées qu’en application d’une loi, d’un règlement, ou en vertu d’une décision d’une autorité réglementaire ou judiciaire compétente, ou encore, si cela s’avère nécessaire, aux fins pour le Responsable du traitement de préserver vos droits et intérêts.
    </pre>
    <h4>Durée de conservation des données</h4>
    <pre>    Les données sont stockées chez l'hébergeur du site Bidnbill, dont les coordonnées figurent dans les Mentions Légales du Site, et sont conservées pour la durée strictement nécessaire à la réalisation des finalités visées ci-avant. Au-delà de cette durée, elles seront anonymisées et conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que ce soit.</pre>
    <h4>Vos droits</h4>
    <pre>
    Conformément aux dispositions des articles 38 à 40 de la loi n°78-17 du 6 janvier 1978 modifiée, relative à l’informatique, aux fichiers et aux libertés, et des articles 15 à 22 du Règlement n°2016/679/UE du Parlement européen et du Conseil du 27 avril 2016, portant Règlement Général relatif à la Protection des Données Personnelles (RGPD), vous disposez d’un certain nombre de droits concernant les données personnelles que nous détenons à votre sujet (le droit d’être informé, le droit d’accès et de communication des données, le droit de rectification, le droit de suppression, le droit de limiter le traitement, le droit de vous opposer au traitement, le droit à la portabilité des données, le droit de retirer son consentement, le droit d’opposition au démarchage téléphonique, le droit de déterminer des instructions concernant le traitement de vos données après votre mort et le droit d’introduire une réclamation devant l’autorité de contrôle compétente.
    </pre>
  </div>
</div>
