<%= render 'shared/navbar' %>
<div id="home-wrapper">
  <div id="home-top">
    <div class="text-container">
      <h1>BidnBill</h1>
      <h4>Contracter différemment</h4>
      <% if user_signed_in? %>
        <% if current_user.user_type == 'client' %>
          <%= link_to "Dashboard", client_dashboard_path, class: 'home-btn'%>
        <% elsif current_user.user_type == 'provider' %>
          <%= link_to "Dashboard", provider_dashboard_path, class: 'home-btn'%>
        <% end %>
      <% else %>
        <%= link_to "Inscrivez Vous", new_user_registration_path, class: 'home-btn'%>
      <% end %>
    </div>
  </div>
  <section id='first-section'>
    <h3 class='title'>Comment ça marche?</h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 ">
          <div class="home-card">
            <div class="icon"><i class="fas fa-user mr-2"></i><i class="fas fa-industry"></i></div>
            <h4>Vous êtes consommateur particulier ou professionnel</h4>
            <pre>Nous considérons que tout consommateur, particulier ou professionnel, doit avoir accès en un minimum de temps à l’offre de marché qui correspond le mieux à ses besoins

              Confronté aux nombreuses offres disponibles, les démarches pour trouver un nouveau contrat (électricité, gaz, assurances…) sont souvent longues et compliquées.

              Afin de vous faire gagner du temps, nous vous proposons d’être placé au centre du jeu en faisant jouer la concurrence.
            </pre>
          </div>
        </div>
        <div class="col-xs-12 ">
          <div class="home-card">
            <div class="icon"><i class="fas fa-gavel"></i></div>
            <h4>Créez une enchère inversée et anonyme sur vos données de consommation (électricité – gaz – téléphone - internet)</h4>
            <pre>Avec vos principales données contractuelles, que nous anonymisons, nous vous permettons de créer une enchère.

              Cette enchère va permettre aux fournisseurs concurrents de formuler une offre plus avantageuse - votre fournisseur actuel peut naturellement participer en vous proposant de baisser le coût de votre contrat actuel. Les fournisseurs se prononcent directement, sans intermédiaire et au regard des besoins que vous avez exprimés.

              A partir de trois offres concurrentes consultez les résultats de votre enchère, les propositions formulées par les fournisseurs sont classées en par ordre décroissant en fonction de l’économie que vous pourriez réaliser.</pre>
          </div>
        </div>
        <div class="col-xs-12 ">
          <div class="home-card">
            <div class="icon"><i class="fas fa-check-circle"></i></div>
            <h4>Consultez les résultats de l’enchère et sélectionnez votre nouveau fournisseur</h4>
            <pre>Vous n’être jamais engagé en créant une enchère inversée sur Bidnbill. En sélectionnant l’une des offres formulées, vous autorisez simplement le fournisseur de votre choix à vous contacter (email, téléphone) afin d’envisager un changement de contrat.

              En quelques clics vous avez rapidement fait jouer la concurrence et identifié l’offre qui correspond le mieux à vos besoins.</pre>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
</div>
