<%= render 'shared/navbar' %>
<h3 class="dashboard__title">Mentions légales</h3>
<div class="container">
  <div class="info-pages">
    <h4>BIDNBILL</h4>
    <pre>
    SASU au capital de 500 €
    RCS PARIS 844 295 931
    Code APE 2620Z
    N° TVA : FR 40 844295931
    Siège social : 139 rue Legendre PARIS - France
    Directeur de la publication : Alexandre CANONICA
    Président : Alexandre CANONICA
    </pre>
    <h5>Conditions d'utilisation du site Internet www.Bidnbill.com</h5>
    <pre>
    Le site et chacun des éléments, y compris mais sans limitation les marques, les logos, icônes, infographies, photographies, qui le composent sont protégés au titre de la législation internationale de la propriété intellectuelle. Les contenus figurant sur le site sont la propriété de BIDNBILL ou d’autres entreprises. Toute utilisation, reproduction ou représentation, par quelque procédé que ce soit, et sur quelque support que ce soit, de tout ou partie du site et/ou des éléments qui le composent n'est pas autorisée sans le consentement exprès de BIDNBILL.

    Les autres marques et logos apparaissant sur le site sont la propriété exclusive des parties tiers et BIDNBILL ne détient aucun droit dessus. Ils sont soumis à la protection du droit de la propriété intellectuelle. Vous ne pouvez pas utiliser ou reproduire les marques de ces partenaires sans leur autorisation expresse, nous vous prions de vous référer aux différentes directives des parties tiers sur l'utilisation de ces marques.
    </pre>
    <h5>Données personnelles</h5>
    <pre>
    Bidnbill en tant que responsable du courtage aux enchères, met en œuvre un traitement de données à caractère personnel.

    Outre que vos données personnelles sont traitées dans le respect des lois et règlements en vigueur, BIDNBILL ne communiquera jamais vos coordonnées ainsi que toutes données ou caractéristiques de consommation sans que vous y ayez expressément consenti.

    Pour connaître les finalités et les mesures de protection applicables à vos données personnelles merci de consulter la politique de confidentialité.
    </pre>
  </div>
</div>
