  .v-btn {
    background: linear-gradient(251.31deg, #59E02A -32.76%, #FFFFFF 217.09%);
    color: white !important;
    text-transform: none !important;
    border-radius: 15px 2px 15px 2px !important;
    font-weight: 600 !important;
  }
