  .v-btn.rounded {
      background: $gradientColor;
      color: white !important;
      text-transform: none !important;
      border-radius: 15px 2px 15px 2px !important;
      font-weight: 600 !important;
  }
  
  .v-btn.rounded.v-btn--disabled {
      background: rgba(0, 0, 0, 0.12)
  }
  
  .v-btn.rounded.primary {
      background: $gradientColorSecondary
  }
  
  .v-btn.large {
      font-size: 16px;
  }