  .dashboard__title {
    font-weight: 700;
    color: white;
    padding: 50px 0;
    font-size: 25px;
    text-align: center;
    background:linear-gradient(98.59deg, #6FE446 40.14%, #ACF094 99.89%);
       -webkit-clip-path: ellipse(60% 100% at 50% 0%);
    clip-path: ellipse(60% 100% at 50% 0%);
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .display-none {
    display: none !important;
  }

  .flex-column {
    flex-direction: column;
  }

  .text-center {
    text-align: center;
  }

  .inline-div{
    display: inline-block;
  }

  .compact-form .form-content {
    transform: scale(0.875)
  }
  .pointer {
    cursor: pointer;
  }
.offset {
  margin-left: 250px;
}
@media (max-width: 900px) {
  .offset {
    margin-left: 0px;
  }
  .dashboard__title {
    font-size: 22px;
  }
}

.bold {
  font-weight: bold;
}

.status-tag {
  padding: 5px 10px;
  text-align: center;
  background: $gray;
  color: white;
  border-radius: 20px;
}

.status-width {
    min-width: 150px;
}

.status-tag.success {
  background: darken($green, 20%)
}

.status-tag.warning {
  background: darken($orange, 20%)
}

.status-tag.error {
  background: $red;
}
