  .form-subtitle {
    color: #777;
    width: 49%;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10%;
    font-weight: 700;
    font-size: 14px;
  }
  .form-content {
    width: 50%;
  }

  @media only screen and (max-width: 600px) {
    .form-content {
      width: 100%;
    }
    .form-subtitle {
      width: 100%;
      padding-left: 0;
      text-align: center;
    }

  }

    #form-fields .v-input input {
    max-height: none;
  }
  #form-fields .v-text-field--outline input {
    margin-top: 0;
  }

  #form-fields .v-select.v-text-field--enclosed:not(.v-text-field--single-line) .v-select__selections {
    padding-top: 0 ;
  }
