  .dashboard__title {
    font-weight: 700;
    color: rgba(0,0,0,0.8);
    margin: 15px auto;
    text-align: center;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .display-none {
    display: none !important;
  }

  .flex-column {
    flex-direction: column;
  }

  .text-center {
    text-align: center;
  }

  .inline-div{
    display: inline-block;
  }

  .compact-form .form-content {
    transform: scale(0.875)
  }

.offset {
  margin-left: 200px;
}
@media (max-width: 900px) {
  .offset {
    margin-left: 0px;
  }
}

.bold {
  font-weight: bold;
}
