.v-card.rounded {
    margin: 20px;
    border-radius: 30px 4px 30px 4px !important;

  .headline {
    background: linear-gradient(234.15deg, var(--v-success-base) -28.36%, #FFFFFF 171.84%);
    color: white;
    text-align: center;
    font-weight: bold;
      span {
        width: 100%;
      }
    }

    .user_card__top {
      height: 100px;
      background: linear-gradient(234.15deg, var(--v-success-base) -28.36%, #FFFFFF 171.84%);
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 30px 4px 0px 0px;
      .user_card__image {
        height: 70%;
        width: 50%;
        position: relative;
        left: 25%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    .user_card__middle {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px 0;
      .card-category {
        padding-bottom: 20px;
        font-size: 20px;
        color: var(--v-success-base);
        font-weight: 600;
      }
    }
    .user_card__bottom {
      height: 200px;
      background: #eee;
      border-radius: 0 0px 30px 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-info {
      text-align: left;
      padding-left: 10px;
      font-size: 14px;
      font-weight: 700;
      .info-title {
        color: #aaa;
        width: 50%;
        padding-bottom: 10px;
      }
      .content {
        width: 50%;
      }

    }
  .user_card__bottom .mapboxgl-map {
    border-radius: 0 0px 30px 4px !important;
  }
}




.v-dialog.v-dialog--active {
  box-shadow: none;
}
