<p>Bonjour <%= @resource.email %>!</p>
<p>Bienvenue sur BidnBill. Pour accéder à votre compte,  utilizez le lien ci-dessous pour mettre à jour votre mot de passe</p>
<p><%= link_to 'Nouveau mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
